In [ ]:
pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/a7/ee/315752b9ef281ba83c62aa7ec2e2074f85223da6e7e74efb4d3e11c0f510/yfinance-0.1.59.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/cf/4d/6537313bf58fe22b508f08cf3eb86b29b6f9edf68e00454224539421073b/lxml-4.6.3-cp37-cp37m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 19.3MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.59-py2.py3-none-any.whl size=23442 sha256=0f262edfeb5ffb18970d69017150d6924d659fda5ebe069441d6a9351ce8aecb
  Stored in directory: /root/.cache/pip/wheels/f8/2a/0f/4b5a86e1d52e451757eb6bc17fd899629f0925c777741b6d04
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.59

In [ ]:
import yfinance as yf
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib as plt

In [ ]:
df=yf.download('^NSEI',start='2011-03-01')

[*********************100%***********************]  1 of 1 completed

In [ ]:
df

                    Open          High  ...     Adj Close  Volume
Date                                    ...
2011-03-01   5382.000000   5533.049805  ...   5522.299805       0
2011-03-03   5478.450195   5570.750000  ...   5536.200195       0
2011-03-04   5586.200195   5608.200195  ...   5538.750000       0
2011-03-07   5490.049805   5491.250000  ...   5463.149902       0
2011-03-08   5466.100098   5530.549805  ...   5520.799805       0
...                  ...           ...  ...           ...     ...
2021-03-30  14628.500000  14876.299805  ...  14845.099609  594500
2021-03-31  14811.849609  14813.750000  ...  14690.700195  463900
2021-04-01  14798.400391  14883.200195  ...  14867.349609  445000
2021-04-05  14837.700195  14849.849609  ...  14637.799805  509700
2021-04-06  14737.000000  14779.099609  ...  14683.500000       0

[2467 rows x 6 columns]

In [ ]:
prices=df['Adj Close']

In [ ]:
prices

Date
2011-03-01     5522.299805
2011-03-03     5536.200195
2011-03-04     5538.750000
2011-03-07     5463.149902
2011-03-08     5520.799805
                  ...
2021-03-30    14845.099609
2021-03-31    14690.700195
2021-04-01    14867.349609
2021-04-05    14637.799805
2021-04-06    14683.500000
Name: Adj Close, Length: 2467, dtype: float64

In [ ]:
prices=pd.DataFrame(prices)

In [ ]:
prices

               Adj Close
Date
2011-03-01   5522.299805
2011-03-03   5536.200195
2011-03-04   5538.750000
2011-03-07   5463.149902
2011-03-08   5520.799805
...                  ...
2021-03-30  14845.099609
2021-03-31  14690.700195
2021-04-01  14867.349609
2021-04-05  14637.799805
2021-04-06  14683.500000

[2467 rows x 1 columns]

In [ ]:
prices['Adj Close'][199]

4750.5

In [ ]:
a=0
ma200=[]
for i in range(0,2464):
  if i in range(0,200):
    ma200.append(0)
  else :
    for j in range(0,200):
      a=a+prices['Adj Close'][i-j]
    rs=a/200
    ma200.append(rs)
    a=0

In [ ]:
ma200[-1]

12636.852255859376

In [ ]:
len(ma200)

2464

In [ ]:
ma50=[]
for i in range(0,2464):
  if i in range(0,50):
    ma50.append(0)
  else :
    for j in range(0,50):
      a=a+prices['Adj Close'][i-j]
    rs=a/50
    ma50.append(rs)
    a=0

In [ ]:
ma50[-1]

14774.8380078125

In [ ]:
len(ma50)

2464

In [ ]:
buy=[]
s=0
d=0
sell=[]
for i in range(200,2463):
  if ma50[i]<ma200[i] and ma50[i+1]>ma200[i+1]:
    buy.append(i)
  if ma50[i]>ma200[i] and ma50[i+1]<ma200[i+1]:
    sell.append(i)

In [ ]:
ma200[199]

0

In [ ]:
len(buy)

8

In [ ]:
len(sell)

7

In [ ]:
buy

[250, 343, 651, 1274, 1452, 1962, 2118, 2312]

In [ ]:
prices['Adj Close'][250]

5429.5

In [ ]:
sell

[316, 593, 1039, 1418, 1882, 2081, 2207]

In [ ]:
points=[]
for i in range(0,8):
  if i in range(0,7):
    points.append(buy[i])
    points.append(sell[i])
  else:
    points.append(buy[i])

In [ ]:
points

[250,
 316,
 343,
 593,
 651,
 1039,
 1274,
 1418,
 1452,
 1882,
 1962,
 2081,
 2118,
 2207,
 2312]

In [ ]:
prices['Adj Close'][651]

6299.14990234375

In [ ]:
prices['Adj Close'][1039]

7982.89990234375

In [ ]:
len(points)

15

In [ ]:
value=10000000

In [ ]:
for i in range(0,100)
a=df.Close.rolling(20).mean()
b=df.Close.rolling(40).mean()
buy=[]
s=0
d=0
sell=[]
for i in range(40,len(df)-1):
  if a[i]<b[i] and a[i+1]>b[i+1]:
    buy.append(i)
  if a[i]>b[i] and a[i+1]<b[i+1]:
    sell.append(i)
a=1000000
a1=1000000
p1=0
p2=0
for i in range(0,len(buy)-1):
  if p1==0:
    p=(a/df['Adj Close'][buy[i]])*(df['Adj Close'][buy[i]+20]-df['Adj Close'][buy[i]])
    p1=1
    print(p)
  if buy[i+1]-buy[i]<40:
    p1=1
  else:
    p1=0
  a=a+p
for i in range(0,len(sell)-1):
  if p2==0:
    ps=(a1/df['Adj Close'][sell[i]])*(df['Adj Close'][sell[i]]-df['Adj Close'][sell[i]+20])
    a1=a1+ps

In [ ]:
for i in range(0,14):
  if i%2==0:
    shares=value//prices['Adj Close'][points[i]]
    value=value+(shares*(prices['Adj Close'][points[i+1]]-prices['Adj Close'][points[i]]))
  else:
    shares=value//prices['Adj Close'][points[i]]
    profit=(shares*(prices['Adj Close'][points[i]]-prices['Adj Close'][points[i+1]]))
    value=value+profit

In [ ]:
value

5070622.923828125

only if we go long

In [ ]:
value1=10000000

In [ ]:
for i in range(0,14):
  if i%2==0:
    shares=value1//prices['Adj Close'][points[i]]
    value1=value1+(shares*(prices['Adj Close'][points[i+1]]-prices['Adj Close'][points[i]]))
    print(value1)

9400478.529785156
10597911.947753906
13429979.447753906
13306993.808105469
16092624.604003906
15581506.227050781
11082835.660644531

In [ ]:
value1

11082835.660644531